/*BEGIN BORDERS FOR VISUAL AIDE*/
header {
	border: dashed blue 3px;
}
section {
	border: solid orange 3px;
}
footer {
	border: dotted black 3px;
}
/*END BORDERS FOR VISUAL AIDE*/

ul {
	list-style: none;
}

/*BEGIN CLASSES*/

.text-center {
	text-align: center;
}

/*.btn  {
	color: red;
	border-radius: 2px;
}*/
/*END CLASS*/
