/*BEGIN BORDERS FOR VISUAL AIDE*/
header {
	border: dashed blue 3px;
}
section {
	border: solid orange 3px;
}
footer {
	border: dotted black 3px;
}
/*END BORDERS FOR VISUAL AIDE*/

ul {
	list-style: none;
}

/*BEGIN CLASSES*/

.text-center {
	text-align: center;
}

/*END CLASS*/

/*BUTTONS*/
#add-item {
	margin-left: 1em;
}
.delete {
	margin-left: 1em;
}

/*testing*/